
<% if @playlist_url %>
  <p>Your new playlist has been saved to spotify</p>
  <%= link_to 'Open your playlist on spotify', @playlist_url, target: :_blank %>
<% else %>
  <p>There was a problem, not possible to say what it was...</p>
<% end %>